@using FESTUMKillerApp.Models
@model UserModel

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>FESTUM</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="icon" href="~/Resources/tab_plaatje.png">
</head>

<body>
    <div class="plaatje-boven-nav">
        <img src="~/Resources/FESTUM-logo.jpg" />
    </div>
    <nav>
        <ul class="menu">
            <li><a href="@Url.Action("Main", "Home")">home</a></li>
            <!-- products sub-menu -->
            <li>
                <a href="#">Feesten</a>
                <ul>
                    <li><a href="@Url.Action("ZoekFeest", "Home")">Feesten zoeken</a></li>
                    <li><a href="@Url.Action("MaakFeest", "Home")">Feest aanmaken</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Chat", "Home")">Chats</a></li>
            <li><a href="#">Vrienden</a></li>
            <li>
                <a href="#">@Model.huidigeGebruiker.Gebruikersnaam</a>
                <ul>
                    <li><a href="#">Bekijk account</a></li>
                    <li><a href="@Url.Action("Index", "Home")">Log uit</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="MaakFeest">
        <h1>Welkom @Model.huidigeGebruiker.Gebruikersnaam!</h1>
        <p>Als een van de vroege gebruikers van FESTUM zul je versteld staan van hoe ver dit geweldige platform wel niet ontwikkeld is</p>
        <h3>Festum is de app voor het organiseren van feesten</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>En nu denk je misschien: "Waarom zou ik zo'n gare app gaan gebruiken als ik ook gewoon een facebook pagina aan kan maken?" nou... ey fuck jou wat doe je hier überhaupt als je dat denkt ga ga. </p>
    </div>
</body>
