@using FESTUMKillerApp.Models
@using FestumClasses.Objects
@model MaakFeestModel

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>FESTUM</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<body>
    <nav>
        <ul class="menu">
            <li><a href="~/Home/Main">home</a></li>
            <!-- products sub-menu -->
            <li>
                <a href="#">Feesten</a>
                <ul>
                    <li><a href="~/Home/ZoekFeest">Feesten zoeken</a></li>
                    <li><a href="~/Home/MaakFeest">Feest aanmaken</a></li>
                </ul>
            </li>
            <li><a href="#">Chats</a></li>
            <li><a href="#">Vrienden</a></li>
            <li>
                <a href="#">@Model.huidigeGebruiker.Gebruikersnaam</a>
                <ul>
                    <li><a href="#">Bekijk account</a></li>
                    <li><a href="~/Home/Index">Log uit</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="OverzichtEnkelFeest">
        <h1>@Model.feest.Naam</h1>
        <h3>Beschrijving:</h3>
        <p>@Model.feest.Beschrijving</p>
        <h3>Locatie:</h3>
        <p>@Model.feest.Locatie</p>
        <h3>Datum:</h3>
        <p>@Model.feest.DatumTijdFeest.ToShortDateString()</p>
        <h3>Aanvangstijd:</h3>
        <p>@Model.feest.DatumTijdFeest.ToString("hh:mm")</p>
    </div>
    <div>
        @if (Model.feest.Gasten.Contains(Model.huidigeGebruiker.UserID))
        {
            <form method="post">
                <button type="submit" class="naarFeestKnop">Ik ga niet meer</button>
            </form>
        }
        else
        {
            <form method="post">
                <button type="submit" class="naarFeestKnop">Ik wil naar dit feest</button>
            </form>
        }
        <div class="scrolbare-div">
            <h3>Gastenlijst:</h3>
            <div class="scrolbare-div-content">
                @foreach (User gast in Model.gastenMetNaam)
                {
                    <a href="~/Home/OverzichtUser?userId=@gast.UserID">
                        <h4>@gast.Gebruikersnaam</h4>
                    </a>
                }
            </div>
        </div>
    </div>
    <div>
        <img src="data:image;base64,@System.Convert.ToBase64String(@Model.feest.Plaatje)" />
    </div>
        @*<img src="data:image;base64,@System.Convert.ToBase64String(@Model.feest.Plaatje)" />
        @if (Model.feest.Gasten.Contains(Model.huidigeGebruiker.UserID))
        {
            <form method="post">
                <button type="submit" class="naarFeestKnop">Ik ga niet meer</button>
            </form>
        }
        else
        {
            <form method="post">
                <button type="submit" class="naarFeestKnop">Ik wil naar dit feest</button>
            </form>
        }
        <div class="scrolbare-div">
            <h3>Gastenlijst:</h3>
            <div class="scrolbare-div-content">
            @foreach(User gast in Model.gastenMetNaam)
            {
                <a href="~/Home/OverzichtUser?userId=@gast.UserID">
                    <h4>@gast.Gebruikersnaam</h4>
                </a>
            }
            </div>
        </div>
        <h1>@Model.feest.Naam</h1>
        <h3>Beschrijving:</h3>
        <p>@Model.feest.Beschrijving</p>
        <h3>Locatie:</h3>
        <p>@Model.feest.Locatie</p>
        <h3>Datum:</h3>
        <p>@Model.feest.DatumTijdFeest.ToShortDateString()</p>
        <h3>Aanvangstijd:</h3>
        <p>@Model.feest.DatumTijdFeest.ToString("hh:mm")</p>
    </div>*@
</body>
