@using FESTUMKillerApp.Models
@using FestumClasses.Objects
@model ZoekFeestModel

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>FESTUM</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="icon" href="~/Resources/tab_plaatje.png">
</head>

<body>
    <div class="plaatje-boven-nav">
        <img src="~/Resources/FESTUM-logo.jpg" />
    </div>
    <nav>
        <ul class="menu">
            <li><a href="~/Home/Main">home</a></li>
            <!-- products sub-menu -->
            <li>
                <a href="#">Feesten</a>
                <ul>
                    <li><a href="~/Home/ZoekFeest">Feesten zoeken</a></li>
                    <li><a href="~/Home/MaakFeest">Feest aanmaken</a></li>
                </ul>
            </li>
            <li><a href="~/Home/Chat">Chats</a></li>
            <li><a href="#">Vrienden</a></li>
            <li>
                <a href="#">@Model.huidigeGebruiker.Gebruikersnaam</a>
                <ul>
                    <li><a href="#">Bekijk account</a></li>
                    <li><a href="~/Home/Index">Log uit</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="allefeest-elementen">
    <h1>Zoek een feest</h1>
    @foreach (Feest feest in Model.feesten)
    {
        <a href="~/Home/OverzichtFeest?feestId=@feest.FeestID">
            <div class="feest-element">
                @*<img src="@Url.Action("getImg", "Person", new { id = item.Id })" alt="Person Image" />*@
                <img src="data:image;base64,@System.Convert.ToBase64String(@feest.Plaatje)" />
                @*<img src="@feest.Plaatje">*@
                <h3>@feest.Naam</h3>
                <p>@feest.Beschrijving</p>
                <p>@feest.Locatie</p>
                <p>@feest.DatumTijdFeest</p>
            </div>
        </a>
    }
    </div>
</body>
